body {
    background-color: #fcfcfc;
}

h5 {
    margin-top: 5% !important;
    margin-bottom: 10% !important;
}

nav {
    background-color: #039be5;
    margin-bottom: 2.5%;
    width: 100%;
}

nav .nav-wrapper {
    height: 100%;
}

nav .top-nav {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.brand-logo {
    font-family: 'Handlee', cursive;
    font-size: 2.1rem !important;
}

.container {
    padding-left: 300px;
}

.user-view {
    font-weight: bold;
}

@media only screen and (max-width: 992px) {

    h5 {
        margin-top: 10% !important;
        margin-bottom: 10% !important;
    }

    .brand-logo {
        font-size: 1.5rem !important;
        font-weight: bold;
    }

    .container {
        padding-left: 0px;
    }
}